<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nape.biblememory">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_blue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view_layer.Activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view_layer.Activities.PhoneUnlockActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_phone_unlock"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <receiver android:name=".BroadcastReceivers.UnlockReceiver">
            <intent-filter
                android:enabled="true"
                android:exported="true">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter
                android:enabled="true"
                android:exported="true">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view_layer.Activities.QuizSettingsActivity"
            android:parentActivityName=".view_layer.Activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.Activities.SupportTheDeveloper"
            android:parentActivityName=".view_layer.Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.Activities.BibleVersionSettingsActivity"
            android:parentActivityName=".view_layer.Activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.Activities.PrivacyPolicyActivity"
            android:parentActivityName=".view_layer.Activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.Activities.BootPrivacyPolicyActivity"
            android:parentActivityName=".view_layer.Activities.BootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.Activities.BootActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view_layer.Activities.SettingsActivity"
            android:parentActivityName=".view_layer.Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.Activities.SocialActivity"
            android:parentActivityName=".view_layer.Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.Activities.AddFriendActivity"
            android:parentActivityName=".view_layer.Activities.SocialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.Activities.LoginSuccessActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view_layer.Activities.FriendDetailsActivity"
            android:parentActivityName=".view_layer.Activities.SocialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view_layer.Activities.NotificationActivity"
            android:parentActivityName=".view_layer.Activities.SocialActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view_layer.Activities.VerseDetailsActivity"
            android:parentActivityName=".view_layer.Activities.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>